<template>
  <div class="container">
    <ul class="list">
      <li class="list-item" v-for="item in items" :key="item.id">
        <div class="card">
          <h2>
            {{ item.name }}
          </h2>
          <h4>
            {{ item.email }}
          </h4>
          <p>{{ item.body }}</p>
        </div>
      </li>
    </ul>
    <Observer @intersect="intersected" />
  </div>
</template>

<script>
import Observer from "./Observer";

export default {
  props: {
    url: {
      type: String,
      required: true
    },
    limit: {
      type: String,
      default: '25'
    }
  },

  data () {
    return {
      page: 1,
      items: []
    }
  },
  
  methods: {
    async intersected() {
      const res = await fetch(
        `${this.url}?_page=${this.page}&_limit=${this.limit}`
      );
      this.page++;
      const items = await res.json();
      this.items = [...this.items, ...items];
    },
  },
  components: {
    Observer,
  },
};
</script>

<style scoped>
  .container {
    margin: 32px;
    background-color: rgb(169, 169, 169);
  }

  .list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .list-item {
    list-style: none;
  }

  .list-item h2 {
    margin-bottom: 16px;
  }

    .list-item h4 {
    margin-bottom: 8px;
  }

 .card {
   width: 350px;
   height: 200px;
   margin: 24px 12px;
   border: 2px double black;
   background-color: rgb(211, 211, 211);
   padding: 25px;
 }

 @media(max-width: 640px) {
  .container {
    margin: 20px;
  }

   .card {
     margin: 0;
     width: 85%;
   }
 }
</style>