<template>
  <infinite-scroll 
    url="https://jsonplaceholder.typicode.com/comments"
  />
</template>

<script>
import InfiniteScroll from './components/InfiniteScroll.vue'

export default {
  components: { InfiniteScroll },
}
</script>

<style>
  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  body {
    background-color: rgb(128, 128, 128);
  }
</style>
